body {
    font-family: Arial;
    margin: 0 !important;
    padding: 0 !important;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.login-bar {
    background-color: #d6c38d;
    height: 20px;
    width: 100%;
}

.login {
    height: 100%;
    width: 120px;   
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
}

.login:hover {
    background-color: #D0CFCE;
}

.header {
    background-color: #247296;
    height: 120px;
    width: 100%;
    border-bottom: 5px solid gainsboro;
}

#showing {
    width: 100%;
    text-align: center;
}

.results-header {
    width: 100%;
    height: 50px;
}

.results-options#sort-options {
    position:absolute; 
    right: 50px;
}

.results-options#show-per-page {
    position:absolute; 
    right: 300px;
}

.results-options p {
    position: relative;
    display: inline;
    margin-right: 5px;
}

.results-options select {
    width: 135px;
    height: 28px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
	-moz-appearance: none; 
	-webkit-appearance: none; 
    appearance: none;
    text-indent: 10px;
}

.search-sidebar {
    width: 300px;
    height: 980px;

    border-color: rgb(223, 223, 223);
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 2px 2px rgb(238, 238, 238)
}

#filter-list {
    margin-left: 20px;
}

#filter-top {
    margin: 18px auto 0;
    height: 30px;
    width: 250px;
}

#filter-button {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
}

#filter-button:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.filter-title {
    margin-bottom: 10px;
}

hr {
    margin-right: 10px;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

.category {
    font-size: 14px;
}

.search-results {
    flex-basis: 60%;
    flex-grow: 1;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.product-container {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 280px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    border-color: rgb(223, 223, 223);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(238, 238, 238);
    flex-grow: 1;
}


.product-image {
    width: 200px;
    height: 170px;
    object-fit: contain;
}

.product-description {
    width: 200px;
    height: 100px;
    font-family: Arial;
    margin: auto;
}

.price {
    font-size: 18px;
    margin-bottom: -10px;
}

.title {
    font-size: 14px;
    color: grey;
}

.title-full {
    font-size: 14px;
    color: grey;
    display: none;
}

.product-description:hover .title {
    display: none;
}

.product-description:hover .title-full {
    display: block;
}

.search-button {
    position: absolute;
    margin-top: 40px;
    margin-left: 350px; 
    left: 50%;   
}

.search-button button { 
    border: none;
    height: 45px;
    width: 45px;
    background-color: gainsboro;
}

.search-button button img {
    height: 28px;
    width: 28px;
}

.search-button button:hover {
    background-color: #f0c654;
    cursor: pointer;
}

.search-category-selector {
    position: absolute;
    margin-top: 40px;
    margin-left: -550px; 
    left: 50%;   
}

.search-category-selector select {
    width: 200px;
    height: 45px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 0;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
	-moz-appearance: none; 
	-webkit-appearance: none; 
    appearance: none;
}

.search-container {
    position: absolute;
    left: 50%;
    margin-left: -350px;
    margin-top: 40px;
    width: 700px;
    display: block;
    font-family: Helvetica;
}

input#search-bar {
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
}
input#search-bar:focus {
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
}
input#search-bar:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}
input#search-bar:focus::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}
input#search-bar:focus:-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

.footer {
    height: 200px;
    width: 100%;
    background-color: #006d91;
}